html, body {
    width: 100%;
    height: 90%;
}

#calculator {
    position: relative;
}

.button {
    height: 5em;
    width: 5em;
    border-style: ridge;
    font-size: 1em;
}

.button:active {
    border-style: inset;
    background-color: white;
}

td[rowspan="2"] > .button {
    height: 10.3em;
}

td[colspan="2"] > .button {
    width: 10.3em;
}

.digit {
    background-color: cornflowerblue;
}

.operator {
    background-color: cornsilk;
}